<div class="location-wrapper" #wrapper>
  <div class="location-search" [class.active]="searchActive" (click)="activateSearch()">
    <span class="icon">&#8981;</span>
    <input
      [(ngModel)]="query"
      (input)="onInput()"
      placeholder="Search location…"
    />
  </div>

  <h2 class="chosen-location">{{ location.selected()?.display_name }}</h2>

  @if (location.results().length && searchActive) {
    <ul class="results">
      @for (r of location.results(); track r.display_name) {
        <li (click)="select(r)">
          {{ r.display_name }}
        </li>
      }
    </ul>
  }
</div>
