<section class="astro">
    <div class="grid">
      @for (card of weatherApi.cards(); track card.timepoint) {
        <div class="card">
          <div class="time">{{ card.time | date:'HH:mm'}}h</div>
          <div class="time">+{{ card.timepoint }}h</div>
          <div class="score">⭐ {{ card.score }}</div>
  
          <ul>
            <li>☁️ {{ card.cloudLabel }} ({{ card.cloudcover }}/9)</li>
            <li>👁 Seeing: {{ card.seeing }}/8</li>
            <li>✨ Transparantie: {{ card.transparency }}/8</li>
            <li>🌡 {{ card.temperature }} °C</li>
            <li>💨 {{ card.windSpeed }}</li>
          </ul>
        </div>
      }
    </div>
  </section>
  