<section class="about">
  <header class="hero">
    <div class="hero-content">
      <h1>About</h1>
      <p>
        Created by Joran Schols. A personal project focused on astronomy and finding
        the right conditions to watch the stars.
      </p>
    </div>
  </header>

  <section class="content">
    <div class="card">
      <h2>What this is</h2>
      <p>
        This project started as a way to quickly understand the night sky —
        light conditions, weather and essential astronomical data —
        without noise or clutter.
      </p>
    </div>

    <div class="card">
      <h2>What it does</h2>
      <div class="features">
        <div class="feature">
          <h3>Forecast</h3>
          <p>
            A clear overview of upcoming weather and star-watching conditions.
          </p>
        </div>

        <div class="feature">
          <h3>Sun & Moon</h3>
          <p>
            Sunrise, sunset and daily moon phases.
          </p>
        </div>

        <div class="feature">
          <h3>Planets</h3>
          <p>
           Rise and Set of all planets in our solar system.
          </p>
        </div>

        <div class="feature">
          <h3>Location-based</h3>
          <p>
            Tailored to any location you choose.
          </p>
        </div>

        <div class="feature">
          <h3>APOD</h3>
          <p>
            Watch the Nasa Astronomy Picture of the Day.
          </p>
        </div>

        <div class="feature">
          <h3>Alerts</h3>
          <p>
            Coming Soon: Receive notifications when ideal stargazing conditions occur.
          </p>
        </div>
      </div>
    </div>

  <div class="card">
    <h2>How it’s built</h2>
    <p>
      Built with <strong>Angular</strong>, <strong>.NET</strong> and public APIs.<br>
      Designed to be fast, readable and easy to maintain.
    </p>
    <p>
      <strong>APIs:</strong><br>
      <a href="https://open-meteo.com/" target="_blank" rel="noopener noreferrer">Open-Meteo</a><br>
      <!-- <a href="https://7timer.info/" target="_blank" rel="noopener noreferrer">7Timer</a><br> -->
      <a href="https://github.com/nasa/apod-api" target="_blank" rel="noopener noreferrer">NASA APOD API</a><br>
      <a href="https://www.openstreetmap.org/" target="_blank" rel="noopener noreferrer">OpenStreetMap</a>
    </p>
    <p>
      <strong>Libraries:</strong><br>
      <a href="https://github.com/mourner/suncalc" target="_blank" rel="noopener noreferrer">SunCalc</a><br>
      <a href="https://github.com/cosinekitty/astronomy" target="_blank" rel="noopener noreferrer">Astronomy Engine</a>
    </p>
  </div>



    <div class="card subtle">
      <p>
        Made for stargazing.
      </p>
    </div>
  </section>
</section>
<br><br>