<section class="page" [class.loading-active]="weather.loading()">
  <app-location-search></app-location-search>
  <br><br>
  <app-forecast-matrix [cards]="weather.cards()"></app-forecast-matrix>
  <!-- <br><br>    
  <app-best-two-hours [cards]="weather.cards()"></app-best-two-hours> -->
  <br><br>  
  <app-forecast-cards [cards]="weather.cards()"></app-forecast-cards>

  @if (weather.loading()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Laden…</p>
    </div>
  }
</section>
