.legend-suncalc-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  max-width: 1400px;
  margin: 20px;
  padding: 1rem;

  // overflow-x: auto;
  margin: 20px;
  padding: 1rem;
  border-radius: 12px;
  background: #0000003d;
  box-shadow:
    0 0 0 1px rgba(120,140,255,0.15),
    0 10px 30px rgba(0,0,0,0.4);

  .metainfo {
    flex: 1 1 35%;
    min-width: 320px;
    
  }

  .legend {
    flex: 1 1 65%;
    min-width: 480px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 1.5rem;

    .metainfo,
    .legend {
      flex: 1 1 100%;
      min-width: 100%;
    }
  }

  @media (max-width: 480px) {
    padding: 1rem;
  }
}